.faq-list {
    width: 80%;
    margin-left: 20rem;
    padding: 30px;
}

.faq-title {
    font-size: 3.5rem;
    font-weight: bold;
    background-image: linear-gradient(135deg, rgb(27, 69, 118), rgb(241, 242, 246));
    -webkit-background-clip: text;
    color: transparent;
  }

.table-of-contents {
    padding: 40px 10px 100px 10px;
    border-radius: 8px;
    margin-top: 50px;
}

.table-of-contents h1 {
    margin: 0;
    font-size: 2.5rem;
}

.table-of-contents ul {
    list-style: none;
    padding-left: 0;
}

.table-of-contents li {
    margin: 8px 0;
}

.table-of-contents a {
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 0.3s ease;
}

.faq-answer {
    margin-bottom: 20px;
    border-left: 4px solid #7da9d6; 
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.faq-answer p {
    line-height: 1.6;
    font-size: 1rem;
}

.faq-answer .content {
    display: none;
    padding-top: 10px;
}

.faq-answer.open .content {
    display: block;
}

.faq-answer.open h2 span {
    transform: rotate(90deg);
}

.faq-answer.open {
    border-left: 4px solid #ffeb3b; 
}

.table-container {
    margin: 20px auto;
    overflow-x: auto;
  }
  
  .selector-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .selector-table th, .selector-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .selector-table th {
    background-color: #d0eaff;
    color: #1e90ff;
  }

  .filter-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  
  .filter-options div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .filter-options label {
    margin: 5px;
  }
  
  .filter-options h3 {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    font-size: 1.2rem;
  }
  
  .clear-filter {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
    margin-left: 8px;
    font-size: 0.9rem;
    line-height: 1;
  }
  
  .reset-button {
    background-color: rgb(255, 77, 77);
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .reset-button:hover {
    background-color: rgb(176, 24, 24);
  }
  
  .selector-placeholder {
    margin-top: 15px;
    text-align: center;
  }
  
  .selector-options {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .selector-button {
    padding: 15px 30px;
    font-size: 16px;
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 400px;
    font-weight: bold;
  }
  
  .selector-button:hover {
    background-color: #a9d8ff;
  }
  
  .selected {
    background-color: #00bfff;
  }
  
  .separator {
    width: 2px;
    background-color: black;
  }
  
  .selected-text {
    margin-top: 10px;
    font-size: 18px;
    color: black;
  }

  @media (max-width: 1000px){
    .faq-list {
      margin-left: 5rem;
    }
  }